/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #a0c9f8;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-pri);
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: transparent;
    color: var(--clr-acc-pri);
}
  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:last-of-type:hover {
    color: var(--clr-acc-thi);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
}

.container .icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .icon .imgBox {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* overflow: hidden; */
    transform: rotate(calc(360deg/9 * var(--i)));
    transform-origin: 290px;
    transition: .5s;
}

.container .icon .imgBox.active {
    transform: translate(calc(290px - 50%), -50%) rotate(calc(360deg/9 * var(--i)));
    transform-origin: 0;
}

.container .icon .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/9 * var(--i)));
}

.imgBox > p {
    height: 150px;
    width: 150px;
    top: -80px;
    left: -80px;
    position: absolute;
    animation: effect 8s linear infinite;
  }
  
  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .imgBox span {
    position: absolute;
    left: 50%;

    transform-origin: 0px 75px;
    transform-style: flat;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
  }/*# sourceMappingURL=index.css.map */
